.image {
    border: black 4px;
    height: 450px;
    width: 850px;
    background-image: url(nasalogo.jpeg);
    display: flex;
    }
    .container { display: grid;
        grid-template-columns: auto auto auto;
        height: 324px;
        width: 850px;
        justify-content: space-between 20px;
      
    }

   .boxone { display: flex;
    flex-direction:column;
    justify-content: space-evenly;


   }