header {
    height:450px;
    width: 850px;
}

#nasaimage{
height: 450px;
width:  850px;
}

#nasalogo {display: flex;
    width: 30%;
}

.logo { display: flex;
flex-wrap: wrap;
justify-content: start;
height: 450px;

}